
a:link 
{
	color: #990000;
	font-weight: 100;
	text-decoration: none;
}

a:hover 
{
	color: #ff0033;
	font-weight: bold;
	text-decoration: underline;
}

a:active 
{
	color: #CC9933;
	font-weight: bold;
	text-decoration: underline;
	background-color: #000099;
}

a:visited 
{
	color: #006400; font-weight: 100;text-decoration: none;
}

li 
{
	font-size: 30px;
	height: 50px;
	text-align: center;
	margin-top: 50px;
}

body
{
	background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTl8iWtS3I6IJ3dWVAKY_Cq86dm-LPENE_puAK9WSuq1RU0TuLHlA); background-size: 100%;
}

h1
{
	text-align: center;
}