table
{
    border-collapse: collapse;
}
td
{
     border-width: 1px;
    text-align: center;
    vertical-align: top;
}
tr
{
     text-align: center;
    vertical-align: top;
}
.left
{
    text-align: left;
}
tr:hover
{
    background-color: lightgray;
}